<title>Mobius Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<!--<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel='stylesheet' type='text/css'>-->
<!-- bootstrap/datepicker -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/tunisiana/views/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/tunisiana/views/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/tunisiana/views/css/dc.css"/>
<link rel="stylesheet" href="/tunisiana/views/css/jquery.dataTables.css"/>

<link rel="icon" href="/tunisiana/views/images/favicon.png">


<!-- this should be the same as above, yet doesn't work? -->
<!--  <link rel="stylesheet" href="https://cdn.bootcss.com/datatables/1.10.10/css/jquery.dataTables.min.css"/>
 -->
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="/tunisiana/views/css/default.css"/>
<link rel="stylesheet" href="/tunisiana/views/css/normalize.css"/>

<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	 -->
<!-- 	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
<script type="text/javascript" src="/tunisiana/views/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/tunisiana/views/js/bootstrap.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 -->
<script src="/tunisiana/views/js/bootstrap-datepicker.min.js"></script>
<script src="/tunisiana/views/js/bootstrap-datetimepicker.min.js"></script>
<script src="/tunisiana/views/js/skel.min.js"></script>
<script src="/tunisiana/views/js/init.js"></script>

<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="/tunisiana/views/js/dataTables.js"></script>

<script type="text/javascript" src="/tunisiana/views/js/dataTables.colResize.js"></script>
<script type='text/javascript' src='/tunisiana/views/js/zoomerang.js'></script>

<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie/v8.css"/><![endif]-->
<!--[if lte IE 9]>
<link rel="stylesheet" href="css/ie/v9.css"/><![endif]-->

<script src='/tunisiana/views/js/crossfilter.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/d3.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/dc.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/queue.js' type='text/javascript'></script>

<!--  Moment.js - a lightweight JavaScript date library for parsing, manipuling and formatting dates. -->
<script src='/tunisiana/views/js/moment.min.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/moment-timezone.min.js' type='text/javascript'></script>
<!-- addTab -->
<link rel="stylesheet" href="/tunisiana/views/css/bootstrap-addtabs.css"/>
<script src='/tunisiana/views/js/bootstrap-addtabs.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/common.js' type='text/javascript' ></script>


<!--<script src='/tunisiana/views/js/index.js' type='text/javascript'></script> DO WE NEED THIS??-->


<!-- 	this needs to be at the bottom of this file to avoid datatable content css being overwritten by others
 -->
<link rel="stylesheet" href="/tunisiana/views/css/stylenew.css"/>


<!--
NOTE: 1.Integrity attribute is to allow the browser to check the file source to ensure that the code is never loaded if the source has been manipulated.
      2.Crossorigin attribute is present when a request is loaded using 'CORS' which is now a requirement of SRI checking when not loaded from the 'same-origin'.
      Refer to http://stackoverflow.com/questions/32039568/what-are-the-integrity-and-crossorigin-attribute
-->