<script src='/tunisiana/views/js/gk3global.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/header.js' type='text/javascript'></script>


<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="http://http://www.mobiusws.com/"><img src="/tunisiana/views/images/logo.png"></img></a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li ><a href="/test" id="headerHome">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle" 
					data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
					<ul class="dropdown-menu" id="menu">
						<% if (req.isAuthenticated()) {
								if(req.user.role_id.indexOf(1) >= 0 ) {//1 means System Administrator
						%>
							<li><a href="/tunisiana/signup" id="signupId"><i class="fa fa-user"></i>&nbsp;Users</a></li>
							<li><a onclick='registerComposeButtonEvent(this)' data-addtab="setrole" url="/tunisiana/setrole" id="setRoleId">Role</a></li>
							<li><a onclick='registerComposeButtonEvent(this)' data-addtab="setmenu" url="/tunisiana/setmenu" id="setMenuId">Menu</a></li>
						<% } %>
							<li><a onclick='registerComposeButtonEvent(this)' data-addtab="setpassword" url="/tunisiana/setpassword" id="setPasswordId">Password</a></li>
							<li><a onclick='registerComposeButtonEvent(this)' data-addtab="setpreferences" url="/tunisiana/setpreferences" id="setPreferencesId">Preferences</a></li>
						<% }%>
													        								
					</ul>
				</li>
			</ul>


			<ul class="nav navbar-nav navbar-right">
				<% if (!req.isAuthenticated()) { %>
					<li><a data-addtab="login" url="/login"><span	class="glyphicon glyphicon-log-in"></span> Login</a></li>
			    <% }
			    else {%>
				<li>
					<span id="currentTime" STYLE="color: black;font-family: 'Arial'; font-size: 12px"></span>

				</li>
			    <input type="hidden" id="login_user" value="<%=req.user.id %>" >
					<li  class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Welcome <%=req.user.username %>!<span class="caret"></span></a>
						<ul class="dropdown-menu" id="menu">
							<li><a data-addtab="prof" url="/tunisiana/profile" id="profileId">Profile</a></li>
							<li><a href="/tunisiana/logout" id="headerLogoutId">Logout</a></li>
						</ul>
					</li>				    
			   <%} 			    
		    %>
            </ul>


		<div id="fraud_menu"></div>
		</div>
	</div>
</nav>



<!--
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a id="currentTime"></a></li>
			</ul>
			      <ul class="navbar-right">
			<marquee behavior="scroll" bgcolor="yellow" loop="-1" width="75%">
				<i>
					<font color="blue">
						 Today's date is :
						<strong>
							<span id="currentTime"></span>
						</strong>
					</font>
				</i>
			</marquee>
            </ul>
-->
