<title>Mobius Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css">


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="icon" href="/tunisiana/views/images/favicon.png">


<!-- Optional theme -->
<link rel="stylesheet" href="/tunisiana/views/css/default.css"/>
<link rel="stylesheet" href="/tunisiana/views/css/normalize.css"/>

<script type="text/javascript" src="/tunisiana/views/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/tunisiana/views/js/bootstrap.min.js"></script>

<script src="/tunisiana/views/js/skel.min.js"></script>
<script src="/tunisiana/views/js/init.js"></script>

<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie/v8.css"/><![endif]-->
<!--[if lte IE 9]>
<link rel="stylesheet" href="css/ie/v9.css"/><![endif]-->

<!-- addTab -->
<link rel="stylesheet" href="/tunisiana/views/css/bootstrap-addtabs.css"/>
<script src='/tunisiana/views/js/bootstrap-addtabs.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/common.js' type='text/javascript'></script>

<!-- 	this needs to be at the bottom of this file to avoid datatable content css being overwritten by others-->
<link rel="stylesheet" href="/tunisiana/views/css/stylenew.css"/>

