<script src='/tunisiana/views/js/gk3global.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/header.js' type='text/javascript'></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="http://http://www.mobiusws.com/"><img src="/tunisiana/views/images/logo.png"></img></a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <% if (!req.isAuthenticated()) { %>
                <li><a data-addtab="login" href="/tunisiana/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <% }
                else { %>
                <li class="active"><a id="currentTime">Current Time:</a></li>
                <input type="hidden" id="login_user" value="<%= req.user.id %>">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome <%= req.user.username %>!<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="menu">
                        <li><a data-addtab="prof" url="/tunisiana/profile" id="profileId">Profile</a></li>
                        <li><a href="/tunisiana/logout" id="headerLogoutId">Logout</a></li>
                    </ul>
                </li>
                <% }
                %>

            </ul>

        </div>

    </div>
</nav>

