<script src="/tunisiana/views/js/map.js"></script>
<div class="caption">
    <strong>Cell Info</strong>
    <!-- <input type="text" id="map" value="<%= mapId %>"  hidden> -->
</div>
<div id="map" style="width: 100%; height: 225px"></div>
