<!DOCTYPE HTML>
<html>
<head>
	<!--<script src='/tunisiana/views/js/gk3global.js' type='text/javascript'></script>-->
<% include ./partials/head %>
<style>
			.nav-tabs > li .close {
 			   margin: -2px 0 0 10px;
    			font-size: 18px;
			}
			 
			.marginBottom{
				margin-bottom :1px !important;
			}
			 
			.operationDiv{
				padding:5px 10px 5px 5px;
			}
			.operationDivWrapper{
				margin-top:-1px;
			}
			
		</style>
<script src='/tunisiana/views/js/indexTabHeader.js' type='text/javascript'></script>

<script src='/tunisiana/views/js/tabsOperations.js' type='text/javascript'></script>
<script type="text/javascript">
    $(function(){
        $('#tabs').addtabs({monitor:'.navbar'});
    }) 
</script>

</head>
<body>
	<div class="container-fluid">
		<div>
			<header  class="navbar admin-header"><% include ./partials/header %></header>
		</div>
        <div class="col-md-12">
        	<ul class="nav nav-tabs marginBottom" id="myTab">
        		<!--<li ><a href="#home">Home</a></li>-->
        		<li class="active"><a href="#leaf1102"><button class="close closeTab" type="button">×</button>Daily KPI (On-net)</a></li>
        	</ul>
        	<div class="tab-content">
           		 <!--&lt;!&ndash;<div role="tabpanel" class="tab-pane"  id="home">Inbox</div>&ndash;&gt;-->
        	</div>
        </div>
		<footer><% include ./partials/footer %> </footer>
	</div>
</body>
</html>
