<!doctype html>
<html>
<script src='/test/views/js/setMenu.js' type='text/javascript'></script>

</head>
<body>
	<div class="container-fluid">
		 <div class="row" style="margin:20px;">
			<div class="col-sm-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title caption">
							Role
						</div>
						<div class="actions">
							<input type="hidden" id="userid" />
							<input id="savemenu" type="button"  value="Save" onclick="">
							<input type="reset" value="Reset"  onclick="">
						</div>
					</div>
					<div class="panel-body">
						<ul id="role" class="list-group"></ul>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Menu</div>
					</div>
					<div class="panel-body">
						<div id="menulist"></div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div >
		<div >
			<div >
				<form>
					<div class="form-group" align="center">
						<input id="clickRoleId" type="hidden" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>