<!doctype html>
<html>
<head>
<script src='/tunisiana/views/js/setPreferences.js' type='text/javascript'></script>
</head>

<body>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
				<h1>
					<i class="fa fa-table"></i> &nbsp; Update Preferences
				</h1>
				<div id="msg" display="none"><p class="bg-danger" id="alertmsg"></p></div>
				<!-- Change Default Rows per Page FORM -->
				<br>
				<form method="post">
					<div class="form-group">
					<input type="hidden" id="settingid" >
						<label class="col-sm-5 control-label">Default Rows per Page:</label> 
						<div class="col-sm-4">
							<select class="form-control" id="rowsperpage">
								<option value="15">15</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group">
						<button type="button" class="btn btn-warning btn-sm settings" id="save">Save</button>
						<button type="reset" class="btn btn-warning btn-sm settings">Cancel</button>
					</div>
				</form>
				<hr>
		</div>

	</div>
</body>
</html>